	
	<div class="text-field">
		<%= form.text_field :name, placeholder: "Full Name" %>
	</div>

	<div class="gender">
		<%= form.radio_button(:gender, "Male") %>
		<%= form.label(:gender_male, "Male") %>
		<%= form.radio_button(:gender, "Female") %>
		<%= form.label(:gender_female, "Female") %>
		<%= form.radio_button(:gender, "Neither") %>
		<%= form.label(:gender_neither, "Neither") %>
	</div>

	<div class="text-field">
		<%= form.date_field :birthday, placeholder: "Birthday" %>
	</div>

	<div class="text-field">
	  <%= form.text_field :email, type: 'email', placeholder: "Email Address" %>
	</div>

	<div class="text-field">
	  <%= form.password_field :password, placeholder: "Password" %>
	</div>

	<div class="submit-signup">
		<button class="btn" id="sign-up-btn" type="submit">SIGN UP</button>
	</div>
	<!-- <div class="submit-field">
	  <%= form.submit %>
	</div> -->
