<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    	
      <%= link_to "Facebook Login", '/auth/facebook' %>
      <%= link_to t(".sign_in"), sign_in_path %>
  <% end %>
</div>
