<h1>Editing User</h1>
	<%= form_for @user do |form| %>
		<%= render form %>
		<%if @user.avatar? %>
			<%= image_tag(@user.avatar.thumb.url) %>
		<%end%> 
		<%= form.file_field :avatar %>
		<div class="submit-field">
	  	<%= form.submit %>
		</div>
	<%end%>

<%= link_to 'Profile', @user %> |
<%= link_to 'Back', listings_path %>
