<p id="notice"><%= notice %></p>

<p>
	<%if @user.avatar? %>
		<%= image_tag(@user.avatar.thumb.url) %>
	<%end%> 
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%if @user == current_user %>
  <%= link_to 'Your Listings', user_listings_path(@user) %>
  <%= link_to 'Your Reservations', user_reservations_path(@user) %>
<%else%>
  <%= link_to "#{@user.name}'s Listings", user_listings_path(@user) %>   
<%end%>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
