<!DOCTYPE html>
<html>
<head>
  <title>PairBnB</title>
  <!-- CSS STUFF -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <!-- STUFF -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tag %>
</head>
<body class="container-fluid">
  <%= render 'layouts/navbar' %>

  <!-- <div class="container"> -->
 
  <% flash.each do |key, value| -%>
    <div class="alert alert-<%= key %> fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="">&times;</a><%=h value %>
    </div>
  <%end%>
  
  <%= yield %>
  
  <!-- </div> -->
  
</body>
</html>
